.burgerbox{
    background-color: white;
    padding: 2px;
    width: 100%;
    height: 50vh;
    position: relative;
}
.burgerbox > .burgerorder-btn{
    position: absolute;
    right: 21rem;
    top: 36rem;
   }
.burgerorder-btn {
    background-color: #d0021b;
    color: white;
    padding: 18px 34px;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.burgerorder-btn:hover {
    background-color: hsl(38, 92%, 50%);
}

#marquee:hover{
   color: #d0021b;
}

.burgerbox > marquee{
    margin-top: 25px;
    width: 100%;
    height: 15vh;
    font-size: 10dvh;
    color: rgb(165, 158, 158);
    
}
